<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

    <link rel="stylesheet" href="{{ asset('css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
    {% endblock %}

    {% block javascripts %}

    <script src="{{ asset('js/all.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body style="padding: 1%;">
    {% block body %}{% endblock %}
</body>

</html>